.list__item{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	border: 1px solid black;
	padding: 0.5rem;
}
.item{
	text-align: center;
}
.list{
	padding: 1rem 0;
}
.list__title{
	text-align: center;
}
.currency-name::first-letter{
	text-transform: uppercase;
}